.post {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: hsl(276, 5%, 20%);
  text-align: center;
}

.post a {
  color: hsl(265, 19%, 88%);
  text-decoration: none;
}

.image {
  width: 100%;
  height: 200px;
  max-height: 20rem;
  overflow: hidden;
}

.image img {
  object-fit: cover;
}

.content {
  padding: 16px;
}

.content h3 {
  margin: 8px 0;
  font-size: 24px;
}

.content time {
  font-style: italic;
  color: hsl(265, 6%, 66%);
}

.content p {
  line-height: 24px;
}
