@font-face {
  font-family: 'Kurewa';
  src: url(/fonts/KurewaGothicCjkTc-Regular.woff2) format('woff2');
  font-display: swap;
}

:root {
  --container-width: 1080px;
  --color-maple: #c1170c;
  --color-ground: #332200;
}

@media (prefers-color-scheme: dark) {
  :root {
    --container-width: 1080px;
    --color-maple: #c1170c;
    --color-ground: #332200;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif, 'Arial';
  background-color: #fff;
}

p {
  line-height: 1.6;
}
